<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TMDBKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TMDBKitMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TMDBKitTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4522CA541F9A68F6003E9153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4522CA5C1F9A68F7003E9153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4522CA901F9A6969003E9153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4522CA981F9A6969003E9153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459E5C021F96497700AB28DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459E5C0B1F96497700AB28DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
